body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    border: 5px solid #bab5a1;
    background-color: white;
    box-sizing: border-box;

}


.btn-row {
    margin: 40px 20px;
}

.cell {
    width: calc(100% / var(--grid-size)); /* Set width for each cell dynamically */
    height: calc(100% / var(--grid-size)); /* Maintain aspect ratio (square cells) */
    background-color: #dcd8c0;
    border: 1px solid #bab5a1; /* Border for each cell */
    box-sizing: border-box; /* Include padding in cell size */
}